{
  "protect": true,
  "public_domain": "www.example.com",
  "admin_domain": "admin.example.com",
  "certificate_arn": "arn:aws:acm:us-east-1:123456789012:certificate/00000000-0000-0000-0000-000000000000",
  "api_domain": "api.example.com",
  "api_certificate_arn": "arn:aws:acm:us-east-1:123456789012:certificate/11111111-1111-1111-1111-111111111111",
  "ssr_domain": "example.com",
  "ssr_domain_prefix": "",
  "zone_id": "Z0123456789ABCDEFGHIJ"
}
